#contact {
  height: auto;
  .contact-info {
    display: flex;
    flex: wrap;
    width: 80%;
    margin: auto;
    padding: 3%;
    // .map {
    //   width: 100%;
    //   height: auto;
    //   flex: 50%;
    // }

    // .contact {
    //   width: 100%;
    //   height: auto;
    //   flex: 50%;
    // }
    // h2 {
    //   text-align: left;
    //   margin: 5% 0 5% 10%;
    // }
    // .contact {
    //   display: flex;
    //   justify-content: space-evenly;
    //   .info {
    //     line-height: 2;
    //     margin-left: 5rem;
    //     margin-right: 5rem;
    //     font-family: "";

    //     h3 {
    //       font-size: 2rem;
    //       font-family: "Oswald-ExtraLight";
    //     }
    //     p {
    //       font-size: 1.75rem;
    //       font-family: "Oswald-SemiBold";
    //     }
    //   }
    // }
  }
}
