@charset "UTF-8";
a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  color: var(--banner-c);
}

li {
  list-style: none;
}

body {
  font-family: "Oswald-Regular";
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("./../assets/fonts/Oswald/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Oswald-Semi-bold";
  src: url("./../assets/fonts/Oswald/Oswald-SemiBold.ttf");
}

@font-face {
  font-family: "Oswald-ExtraLight";
  src: url("./../assets/fonts/Oswald/Oswald-ExtraLight.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: ffff;
  background-size: cover;
}

.navbar {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1190px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1190px) {
  .navbar .logo {
    width: 100%;
  }
}

.navbar .logo .icon {
  height: 50px;
  margin-top: 15%;
}

@media screen and (max-width: 1190px) {
  .navbar .logo .icon {
    margin-left: 5%;
    margin-top: 10%;
  }
}

@media screen and (max-width: 1190px) {
  .navbar .nav-list {
    width: 100%;
    text-align: center;
    padding-top: 3%;
    display: none;
  }
}

.navbar .nav-list .list-item {
  padding: 5rem 2rem;
  text-transform: uppercase;
  display: inline-block;
}

@media screen and (max-width: 1190px) {
  .navbar .nav-list .list-item {
    display: block;
    border: 1px solid #18223b;
    padding: 3%;
  }
}

.navbar .nav-list .list-item a {
  letter-spacing: 2px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: #18223b;
}

.navbar .hamburger {
  display: none;
}

@media screen and (max-width: 1190px) {
  .navbar .hamburger {
    display: block;
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
}

@media screen and (max-width: 1190px) {
  .navbar .hamburger {
    display: block;
    position: absolute;
    right: 2rem;
    top: 3.75rem;
  }
}

.navbar .hamburger .menu-line {
  width: 1.25rem;
  height: 0.2rem;
  background-color: #18223b;
  margin-bottom: 0.3rem;
}

.navbar .hamburger .hamburger:hover {
  cursor: pointer;
}

.navbar .active {
  display: block;
}

#apropos {
  margin-bottom: 15%;
}

#apropos .center iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

#apropos h1 {
  padding: 3% 22%;
  text-align: center;
  color: #18223b;
}

@media screen and (max-width: 816px) {
  #apropos h1 {
    padding: 3% 22%;
    font-size: 3rem;
    margin-bottom: 5%;
  }
}

.macaron img {
  height: 30%;
  width: 22%;
  position: relative;
  top: 10%;
  left: 70%;
  z-index: 1;
}

#presentation .prez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10%;
  margin: 10% 0;
  line-height: 1.75;
}

@media screen and (max-width: 933px) {
  #presentation .prez {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#presentation .prez .card {
  padding: 5%;
  width: 100%;
  text-align: center;
}

#presentation .prez .card .card + .card {
  margin-left: 3%;
}

#presentation .prez .card .circle img {
  height: 111px;
  margin-bottom: 15%;
}

@media screen and (max-width: 933px) {
  #presentation .prez .card .circle img {
    margin-bottom: 5%;
  }
}

#presentation .prez .card h2 {
  color: #f6a11c;
  text-transform: uppercase;
  margin-bottom: 5%;
}

#presentation .prez .card strong {
  color: #f6a11c;
}

#roomsSection #roomsContainer {
  width: 80%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
}

#roomsSection #roomsContainer h2 {
  text-transform: uppercase;
  height: 100px;
  padding-top: 60px;
  color: #1e1e1e;
  margin-bottom: 30px;
}

#roomsSection #roomsContainer .roomCard {
  margin: 15px 0;
  color: whitesmoke;
  width: 100%;
  border-radius: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "txt img";
  position: relative;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#roomsSection #roomsContainer .roomCard:hover {
  height: 330px;
}

#roomsSection #roomsContainer .roomCard:hover .hiddenButton {
  display: block;
}

#roomsSection #roomsContainer .roomCard .cardContent {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: txt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d1d1d1;
  background: -webkit-gradient(linear, left top, right top, color-stop(65%, #d1d1d1), to(#e4e5e4));
  background: linear-gradient(90deg, #d1d1d1 65%, #e4e5e4 100%);
  color: #1e1e1e;
  border-radius: 15px 0 0 15px;
  padding: 20px;
}

#roomsSection #roomsContainer .roomCard .cardContent .cardTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#roomsSection #roomsContainer .roomCard .cardContent .cardTitle h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

#roomsSection #roomsContainer .roomCard .cardContent .cardTitle span {
  color: #f6a11c;
  font-size: 1.2rem;
}

#roomsSection #roomsContainer .roomCard .cardContent .roomSynopsis {
  font-size: 0.8rem;
  text-align: left;
}

#roomsSection #roomsContainer .roomCard .cardContent .roomSynopsis .hiddenText {
  display: none;
}

#roomsSection #roomsContainer .roomCard .cardContent .roomResaButton {
  width: 200px;
  height: 30px;
  background: #f6a11c;
  border-radius: 5px;
  text-align: center;
  margin: 15px;
  padding-top: 3px;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#roomsSection #roomsContainer .roomCard .cardContent .roomResaButton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#roomsSection #roomsContainer .roomCard .cardContent .hiddenButton {
  display: none;
}

#roomsSection #roomsContainer .roomCard .cardContent .cardInfos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gameTime {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gameTime i {
  padding-top: 4px;
}

#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gamePlayers {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gamePlayers img {
  padding-top: 4px;
}

#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gameAge {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#roomsSection #roomsContainer .roomCard .cardContent .cardInfos .gameLevel {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#roomsSection #roomsContainer .roomCard .cardImage {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img;
}

#roomsSection #roomsContainer .roomCard #roomCard4Img {
  background: linear-gradient(280deg, black 0%, rgba(0, 0, 0, 0.233) 40%, rgba(0, 0, 0, 0) 100%), url("./../assets/img/star-wars-death-star-2.jpg") center/cover;
}

#roomsSection #roomsContainer .roomCard #roomCard1Img {
  background: linear-gradient(280deg, black 0%, rgba(0, 0, 0, 0.233) 40%, rgba(0, 0, 0, 0) 100%), url("./../assets/img/chateau-ambulant.jpg") center/cover;
}

#roomsSection #roomsContainer .roomCard #roomCard2Img {
  background: linear-gradient(280deg, black 0%, rgba(0, 0, 0, 0.233) 40%, rgba(0, 0, 0, 0) 100%), url("./../assets/img/chucky.png") center/cover;
}

#roomsSection #roomsContainer .roomCard #roomCard3Img {
  background: linear-gradient(280deg, black 0%, rgba(0, 0, 0, 0.233) 40%, rgba(0, 0, 0, 0) 100%), url("./../assets/img/souterrainsjpg.jpg") right/cover;
}

#resaSection {
  background: #18223b;
  color: #e4e5e4;
}

#resaSection #resaContainer {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 70px;
}

#resaSection #resaContainer h2 {
  text-transform: uppercase;
  height: 100px;
  padding-top: 60px;
}

#resaSection #resaContainer #resaInputs {
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#resaSection #resaContainer #resaInputs label {
  color: #f6a11c;
  font-size: 1.2rem;
  margin: 10px 0;
}

#resaSection #resaContainer #resaInputs select,
#resaSection #resaContainer #resaInputs input {
  font-size: 1.1rem;
  background: #e4e5e4;
  color: #1e1e1e;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
}

#resaSection #resaContainer #resaInputs select option,
#resaSection #resaContainer #resaInputs input option {
  font-size: 1.2rem;
}

#resaSection #resaContainer .flexColCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext {
  position: relative;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities #resaAvailabilitiesTitle {
  font-size: 1.3rem;
  color: #f6a11c;
  margin-bottom: 20px;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 {
  width: 50%;
  margin-right: 30px;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine {
  width: 100%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine:after,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine:after {
  content: "";
  border: 1px solid rgba(245, 245, 245, 0.603);
  position: absolute;
  bottom: -10px;
  width: 93%;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine .resaHour,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine .resaHour {
  width: 65%;
  text-align: left;
  font-size: 1.3rem;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine .resaAvailable,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine .resaAvailable {
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  background: #f6a11c;
  color: #1e1e1e;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 5px rgba(245, 245, 245, 0.301);
          box-shadow: 3px 3px 5px rgba(245, 245, 245, 0.301);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine .resaAvailable:hover,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine .resaAvailable:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer1 .resaHourLine .resaUnavailable,
#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities .resaHourContainer #resaHoursContainer2 .resaHourLine .resaUnavailable {
  width: 25%;
  text-align: center;
  text-transform: uppercase;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities #resaPreviousNextButtons {
  margin: 40px 0;
  padding-left: 70px;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaAvailabilities #resaPreviousNextButtons button {
  text-transform: uppercase;
  font-size: 0.7rem;
  background: #e4e5e4;
  color: #1e1e1e;
  text-align: center;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  margin: 0 2px;
  cursor: pointer;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaNextButton {
  position: absolute;
  bottom: 20px;
  right: 0px;
  height: 40px;
  width: 150px;
  background: #f6a11c;
  color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#resaSection #resaContainer #resaAvailabilitiesAndNext #resaNextButton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* The Modal (background) */
.modal {
  display: none;
  /* à remettre avant mise en prod !!! */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  min-height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content */
}

.modal .modal-content {
  background-color: #18223b;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 600px;
  /* The Close Button */
}

.modal .modal-content #recapModalContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 70% 15%;
      grid-template-columns: 15% 70% 15%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "prev descr res";
}

.modal .modal-content #recapModalContainer #btnReturnToResa {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: prev;
  height: 40px;
  width: 100%;
  background: #f6a11c;
  color: #1e1e1e;
  border-radius: 15px;
  margin-top: 20px;
}

.modal .modal-content #recapModalContainer #recapModalContent {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: descr;
  padding: 20px;
}

.modal .modal-content #recapModalContainer #recapModalContent h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.modal .modal-content #recapModalContainer #recapModalContent #resaRecapContent {
  height: 100px;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin: 20px 0;
}

.modal .modal-content #recapModalContainer #recapModalContent h4 {
  color: #f6a11c;
  font-size: 1.1rem;
  font-weight: 100;
  margin-bottom: 30px;
}

.modal .modal-content #recapModalContainer #recapModalContent form .flexColLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.modal .modal-content #recapModalContainer #recapModalContent form label {
  color: #f6a11c;
}

.modal .modal-content #recapModalContainer #recapModalContent form input {
  margin: 10px 0 20px;
  height: 35px;
  border-radius: 20px;
  padding: 0 10px;
}

.modal .modal-content #recapModalContainer #btnConfirmResa {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: res;
  height: 40px;
  width: 100%;
  background: #f6a11c;
  color: #1e1e1e;
  border-radius: 15px;
  margin-top: 465px;
}

.modal .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#contact {
  height: auto;
}

#contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  width: 80%;
  margin: auto;
  padding: 3%;
}

footer {
  background-color: #1e1e1e;
}

footer .foot-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 5%;
  line-height: 2;
}

footer .foot-nav .logo .secondary-icon {
  height: 60px;
}

footer .foot-nav .ft-c i {
  margin: 10px;
  font-size: 30px;
  color: white;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

footer .foot-nav .ft-c i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer .foot-nav .ft-c h4 {
  margin-bottom: 15px;
  color: #f6a11c;
}

footer .mentions {
  text-align: center;
}

footer .mentions p {
  color: white;
}

footer .mentions a {
  color: white;
  font-size: 16px;
  font-family: "Oswald ExtraLight";
}
/*# sourceMappingURL=style.css.map */